:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
  column-gap: 1rem;
  > * {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

.text_grid {
  h1 {
    font-size: x-larger;
    color: var(--color-heading);
  }
  p {
    color: var(--color-body);
  }
  button {
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    padding: 2%;
    border-radius: 50px;
  }
}

.img_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  :nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  :nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  :nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  :nth-child(7) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

img {
  border-radius: 50px;
}
