:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

main {
  /* display: grid;
  grid-template-columns: 1fr minmax(0, 1100px) 1fr;
  column-gap: 1rem;
  * {
    grid-column: 2;
  } */
}

.card_wrapper {
  width: 30vw;
  margin: 0 auto;
  container-type: inline-size;
  > div {
    container-type: card;
    background-color: #ffffff;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    > div {
      text-align: center;
      margin-top: 5%;
      * {
        margin-top: 2%;
      }
    }
    img {
      border-radius: 999px;
      width: 100%;
    }
    h2 {
      font-size: var(--font-heading);
      font-weight: bold;
      color: var(--color-icon);
    }
    p {
      font-size: 1rem;
      color: turquoise;
    }
  }
  @container (width > 350px) {
    > div {
      > div {
        text-align: initial;
      }

      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  @container (width > 410px) {
    > div {
      container-type: card;
      flex-direction: row;
      gap: 5%;

      img {
        width: var(--image-width);
      }
      h2 {
        font-size: var(--font-heading);
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

#logo_div {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

  svg {
    color: var(--color-icon);
  }
}

/* Begynd her... */
